<footer>
	<div class="left">
		<div class="link"><div class="icon">&#x1F4DD;</div> <a href="/privacy/javascript" rel="jslicense">[JavaScript code license information]</a></div>
		<div class="link"><div class="icon">&#x1F512;</div> <a href="/privacy">[Privacy Policy]</a></div>
		<div class="link"><div class="icon">&#x1f36a;</div> <a href="/privacy/cookies">[Cookie Policy]</a></div>
	</div>
	<div class="right">
		<a href="https://github.com/michaldaniel/morningbird.eu"><img class="kopimi" src="/assets/img/kopimi.gif" alt="I want to be copied!" width="29" height="16"></a>
	</div>
</footer>
