<footer>
	<div class="wrapper">
		<hr class="codebreak">
		{% include cookies.html %}
		<div class="left">
			<div class="link">📝 <a href="/privacy/javascript" rel="jslicense">[JavaScript code license information]</a></div>
			<div class="link">🔒 <a href="/privacy">[Privacy Policy]</a></div>
			<div class="link">🍪 <a href="/privacy/cookies">[Cookie Policy]</a></div>
		</div>
		<div class="right kopimi">
			<a href="https://github.com/michaldaniel/morningbird.eu"><img src="/assets/img/kopimi.gif" alt="I want to be copied!" width="29" height="16"></a>
		</div>
	</div>
</footer>
