<section class="header">
	<div class="wrapper">
		<div class="logo">
			<a href="{{ include.url }}">
				{% if include.alt-logo %}
				<img id="logo" src="{{ include.logo }}" alt="{{ include.description }}" width="{{ include.width }}" height="{{ include.height }}" style="max-wdith: {{ include.width }}px; max-height: {{ include.height }}px;">
				<img id="logo-on-hover" src="{{ include.alt-logo }}" alt="{{ include.alt-descrition }}" width="{{ include.width }}" height="{{ include.height }}" style="max-wdith: {{ include.width }}px; max-height: {{ include.height }}px;"/>
				{% else %}
				<img src="{{ include.logo }}" alt="{{ include.description }}" width="{{ include.width }}" height="{{ include.height }}" style="max-wdith: {{ include.width }}px; max-height: {{ include.height }}px;">
				{% endif %}
			</a>
		</div>
	</div>
</section>
