<section class="header">
	<div class="topbar">
		<div class="wrapper">
			<div clas="brand">
			<img src="https://via.placeholder.com/36x28"><span>Michał Daniel</span>
			</div>
		</div>
	</div>
	<div class="wrapper">
		<div class="logo">
			<a href="/">
				<img id="logo" src="/assets/img/bird.gif" alt="Bird flapping wings" width="400" height="400">
				<img id="logo-on-hover" src="/assets/img/bird-fast.gif" alt="Bird flapping wings very fast" width="400" height="400" />
			</a>
		</div>
	</div>
</section>
