<meta charset="utf-8" />
<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
<meta http-equiv="Cache-control" content="max-age=86400,public" />
{% if page.description %}<meta name="description" content="{{ page.description }}" />
{% else %}<meta name="description" content="{{ site.description }}" />{% endif %}
<meta name="author" content="{{ site.author.name }}">
<meta name="copyright" content="{{ site.copyright }}"/>
<meta name="robots" content="index,follow" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />

<!-- Open Graph data -->
{% if page.title %}<meta property="og:title" content="{{ site.author.name }} · {{ page.title }}" />
{% else %}<meta property="og:title" content="{{ site.name }}" />{% endif %}

{% if page.title %}<meta property="og:type" content="website" />
{% else %}<meta property="og:type" content="article" />{% endif %}

<meta property="og:url" content="{{ page.url | prepend: site.url }}" />
{% if page.promo %}
<meta property="og:image" content="{{ page.promo.url | prepend: site.url }}" />
<meta property="og:image:width" content="{{ page.promo.width }}" />
<meta property="og:image:height" content="{{ page.promo.height }}" />
{% else %}
<meta property="og:image" content="{{ site.promo | prepend: site.url }}" />
<meta property="og:image:width" content="512" />
<meta property="og:image:height" content="512" />
{% endif %}
{% if page.description %}<meta name="og:description" content="{{ page.description }}" />
{% else %}<meta name="og:description" content="{{ site.description }}" />{% endif %}

{% if page.title %}<meta property="og:site_name" content="{{ site.author.name }} · {{ page.title }}" />
{% else %}<meta property="og:site_name" content="{{ site.name }}" />{% endif %}

<meta name="twitter:card" content="summary" />

<link rel="alternate" type="application/rss+xml" title="{{ site.author.name }} - blog RSS" href="/feed.xml">

<link rel="apple-touch-icon" sizes="180x180" href="/assets/img/favicon/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/assets/img/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/assets/img/favicon/favicon-16x16.png">
<link rel="manifest" href="/assets/img/favicon/site.webmanifest">
<link rel="mask-icon" href="/assets/img/favicon/safari-pinned-tab.svg" color="#2e3436">
<link rel="shortcut icon" href="/assets/img/favicon/favicon.ico">
<meta name="apple-mobile-web-app-title" content="{{ site.website }}">
<meta name="application-name" content="{{ site.website }}">
<meta name="msapplication-TileColor" content="#2e3436">
<meta name="msapplication-config" content="/assets/img/favicon/browserconfig.xml">
<meta name="theme-color" content="#fefefe">

{% if page.title %}<title>{{ site.author.name }} · {{ page.title }}</title>
{% else %}<title>{{ site.name }}</title>{% endif %}

