---
---

@import "reset";
@import "fonts";
@import "config";
@import "core";

.bg {
	background: url(hello.gif);
	background-repeat: repeat;
	width: 95%;
	position: fixed;
	left: 2.5%;
	top: 5%;
	display: block;
	height: 90%;
	outline: 10px solid black;	
}
