html {
	background: url(bg.gif);
	background-repeat: repeat;;
    color: #424242;
	background: #fefefe;
    font-family: 'Inconsolata', monospace;
	letter-spacing: 0.1em;
	font-weight: 400;
}

body {
	height: 100vh;
    width: 100%;
	align-items: center;
    display: flex;
    justify-content: center;
}

#link {
	margin: 0 30px 0 30px
}

#box {
	width: 100px;
	height: 100px;
	background: #424242;
	position: absolute;
	left: -90px;
	top: -50px;
}

a {
	outline: 0;
	color: #1a00f2;
	text-decoration: none;
}

a:hover {
	outline: 0;
	color: #2a0080;
	text-decoration: none;
	padding-bottom: 1px;
	border-bottom: 1px solid #2a0080;
}

a:active {
	outline: 0;
	color: #1a00f2;
	text-decoration: none;
}

a:visited {
	outline: 0;
	color: #1a00f2;
	text-decoration: none;
}

.frown {
	font-size: 2000%;
	margin: 0;
	padding: 0 0 80px 0;
}

.frown a:hover {
	outline: 0;
	color: #2a0080;
	text-decoration: none;
	padding-bottom: 0;
	border-bottom: 0;
}



