.apps {
	ul {
		list-style: none;
		padding: 0;
		
		li {
			margin-bottom: $margin-aps;
			padding: 0;

			&:last-child {
				margin-bottom: 0;
			}
		}

		a {
			display: block;
			padding: 0;
			border: 0;
			
			&:hover {
				.img-wrapper {
					&:before {
						opacity: 1;
					}
					&:after {
						opacity: .45;
					}
				}
				padding: 0;
				border: 0;
			}
		}

		.img-wrapper {
			position: relative;

			&:before {
				content: "View Project";
				color: $color-white;		
				font-weight: 400;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				font-size: 85%;
				opacity: 0;
				-webkit-transition: all .5s ease-in-out;
				transition: all .5s ease-in-out;
				-webkit-transition-delay: .25s;
				transition-delay: .25s;
				z-index: 2;
			}

			&:after {
				background: #000;
				content: "";
				display: block;
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				opacity: 0;
				margin-bottom: $margin-aps;
				-webkit-transition: all .5s ease-in-out;
				transition: all .5s ease-in-out;
				z-index: 1;
			}
		}

		img {
			width: 100%;
		}

		span {
			margin: $margin-m 0 0;
			font-size: 80%;
		}
		
		h3 {
			font-weight: 400;
			font-size: 110%;
			margin: 0 0 $margin-xl;
		}
		
		@media (min-width: $breakpoint-small) {
			margin: $margin-xl (-$margin-aps) (-$margin-m) (-$margin-aps);
			
			@include clearfix;

			li {
				float: left;
				width: 50%;
			}

			a {
				padding: 0 $margin-aps;
				
				&:hover {
					padding:  0 $margin-aps;
				}
			}
		}

		@media (min-width: $breakpoint-medium) {
			li {
				width: 33.33333%;
			}
		}
	}
}
