// FONTS
$body-font: 'Noto Sans', sans-serif;
$code-font: 'Inconsolata', monospace;

// COLORS
$color-black: #000000;
$color-white: #fefefe;
$color-dark-grey: #2e3436;
$color-light-grey: #babdb6;
$color-link: #3465a4;
$color-link-hover: #204a87;
$color-code-background: #f3f3f3;
$color-warning: #FF7575;
$color-highlight: #fce94f;

// BREAKPOINTS
$breakpoint-small: 450px;
$breakpoint-medium: 600px;
$breakpoint: 750px;

// SIZES

$page-size: 600px;
$font-size: 15px;
$topbar-size: 48px;

$margin-xxs: 2px;
$margin-xs: 4px;
$margin-s: 8px;
$margin-m: 12px;
$margin-l: 16px;
$margin-xl: 24px;
$margin-xxl: 32px;
$margin-xxxl: 48px;
$margin-america: 64px;
$margin-aps: 8px;
