// COLORS
$color-black: #000000;
$color-white: #fefefe;
$color-dark-grey: #424242;
$color-light-grey: #9e9e9e;
$color-link: #1a00f2;
$color-link-hover: #2a0080;
$color-code: #00FF00;
$color-code-background: #f5f5f5;
$color-warning: #FF7575;

// BREAKPOINTS
$breakpoint-small: 450px;
$breakpoint-medium: 600px;
$breakpoint: 750px;

// SIZES
$page-size: 600px;
