#cookie_warning {
	line-height: 150%;
	border: 1px solid $color-warning;
	padding: $margin-s $margin-m;
	margin-bottom: $margin-m;
	font-size: 90%;

	.cookie_message {
		float: left;
		width: 95%;
		text-align: left;
	}

	.cookie_close {
		color: $color-warning;
		float: right;
		width: 5%;
		text-align: right;
	}
}

