body {
	color: $color-dark-grey;
	background: $color-white;
	font-family: $body-font;
	line-height: 180%;
	font-weight: 400;
	font-size: $font-size;
	letter-spacing: 0.04em;
	overflow:auto;
}

h1, h2, h3, h4 {
	color: $color-black;
}

h2, h3, h4 {
	margin-top: $margin-xxl;
	margin-bottom: $margin-l;
}

h1 {
	margin-top: $margin-l;
	margin-bottom: $margin-l;
	font-size: 180%;
	line-height: 130%;
	text-decoration: underline;
}

h2 {
	font-size: 130%;
}

h3 {
	font-size: 110%;
}

h4 {
	font-size: 100%;
}


b {
	font-weight: 700;
}

table {
	margin: $margin-l 0;
	tr {
		td {
			padding-right: $margin-xxl;
			@media screen and (max-width: $breakpoint) {
				display: flex-item;
				flex: 0 1 auto;
				width: auto;
			}
			
			&:last-child {
				padding-right: 0;
			}
		}
		
		
		@media screen and (max-width: $breakpoint) {
			display: flex;
			flex-direction: column;
			flex-wrap: wrap;
		}
	}
}

p {
	margin-top: $margin-l;
	margin-bottom: $margin-l;
	font-size: 100%;
	line-height: 150%;
	text-align: justify;
}

a {
  color: $color-link;
  text-decoration: none;
  &:visited {
	color: $color-link;
	text-decoration: none;
  }
  &:hover {
	color: $color-link-hover;
	text-decoration: none;
	padding-bottom: 1px;
	border-bottom: 1px solid $color-link-hover;
  }
  &:active {
	color: $color-link;
	text-decoration: none;
  }
}

hr {
	margin: $margin-l 0;
	border: 0;
	border-bottom: 1px solid darken($color-white, 5%);
}

section {
	clear: both;
	padding: 0;
	margin: 0;
}

strong {
	font-weight: 700;
}

em {
	letter-spacing: 0.2em;
}

sup {
    position: relative;
    top: -0.5em;
    font-size: 75%;
}

sub {
    position: relative;
    top: 0.25em;
    font-size: 75%;
}

ul, ol {
	font-size: 100%;
	margin-left: $margin-xxl;
	margin-top: (-$margin-s);
	margin-bottom: $margin-l;
	li {
		padding: $margin-xs;
		padding-left: $margin-xs;
		@media screen and (max-width: $breakpoint) {
			padding: $margin-s 0 $margin-s 0;
		}
	}
	@media screen and (max-width: $breakpoint) {
		margin-left: $margin-xl;
	}
}

ul {
	list-style: circle;
}

ol {
    list-style: decimal; 
}

dl {
    dt {
        font-weight: bold;
    }
    dd {
        margin-top: $margin-xs;
	    margin-bottom: $margin-xs;
        padding: $margin-xs $margin-s;
        border-left: 3px solid #9e9e9e;
    }
}

mark {
    background: $color-highlight;
}

code {
	font-size: 90%;
	background: $color-code-background;
}

blockquote {
	padding-left: $margin-l;
	border-left: 3px solid #9e9e9e;
}

u {
    text-decoration: underline;
}

.section {
	clear: both;
	padding: 0;
	margin: 0;
}

.left {
	float: left;
	
	@media only screen and (max-width: $breakpoint) {
		float: none;
	}
}

.right {
	float: right;
	
	@media only screen and (max-width: $breakpoint) {
		float: none;
	}
}

.center {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.collapsed {
	display: none;
}

.clear {
	clear: both;
}

.grey {
	color: $color-light-grey;
}

.no-wrap {
	white-space: nowrap;
}

.no-head {
	* {
		&:first-child {
			margin-top: 0;
		}
	}
	
}

.justify {
	p {
		text-align: justify;
	}
}

.wrapper {
   	max-width: $page-size;
	width: auto;
	padding: 0 $margin-xxl;
	margin-left: auto;
	margin-right: auto;
	@media screen and (max-width: $breakpoint) {
		max-width: 100%;
		padding: 0 $margin-xl;
	}
}

.error {
	p {
		font-size: 150%;
	}
}
