/* Inconsolata Regular - Latin extended */
@font-face {
	font-family: 'Inconsolata';
	font-style: normal;
	font-weight: 400;
	src: url('/assets/fonts/Inconsolata/Inconsolata-latin-latin-ext-regular.eot');
	src: local('Inconsolata Regular'), local('Inconsolata-Regular'),
		url('/assets/fonts/Inconsolata/Inconsolata-latin-latin-ext-regular.eot?#iefix') format('embedded-opentype'),
		url('/assets/fonts/Inconsolata/Inconsolata-latin-latin-ext-regular.woff2') format('woff2'),
		url('/assets/fonts/Inconsolata/Inconsolata-latin-latin-ext-regular.woff') format('woff'),
		url('/assets/fonts/Inconsolata/Inconsolata-latin-latin-ext-regular.ttf') format('truetype'),
		url('/assets/fonts/Inconsolata/Inconsolata-latin-latin-ext-regular.svg#Inconsolata') format('svg');
}


/* Noto Sans Regular - Latin extended */
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  src: url('/assets/fonts/NotoSans/Noto-Sans-latin-ext-regular.eot'); /* IE9 Compat Modes */
  src: local('Noto Sans'), local('NotoSans'),
       url('/assets/fonts/NotoSans/Noto-Sans-latin-ext-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/assets/fonts/NotoSans/Noto-Sans-latin-ext-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('/assets/fonts/NotoSans/Noto-Sans-latin-ext-regular.woff') format('woff'), /* Modern Browsers */
       url('/assets/fonts/NotoSans/Noto-Sans-latin-ext-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/assets/fonts/NotoSans/Noto-Sans-latin-ext-regular.svg#NotoSans') format('svg'); /* Legacy iOS */
}

