.intro {
	h1 {
		font-size: 250%;
		text-align: center;
		margin-bottom: $margin-america;
		margin-top: 0;
	}
	
	h1 { 
		a {
			color: $color-dark-grey;
			text-decoration: underline;
			&:visited {
				color: $color-dark-grey;
				text-decoration: underline;
			}
			&:hover {
				color: $color-link;
				text-decoration: underline;
				padding-bottom: 0;
				border-bottom: 0;
			}
			&:active {
				color: $color-dark-grey;
				text-decoration: underline;
			}
		}
	}
}
