.post {
	header {
		h1 {
			display: inline-block;
			font-size: 160%;
			font-weight: 700;
			text-decoration: none;
			padding-bottom: $margin-xxs;
			border-bottom: $margin-xxs solid $color-dark-grey;
		}
		
		.date {
			time {
				margin-top: 0;
				margin-bottom: 0;
				font-size: 100%;
				color: $color-light-grey
			}
		}
		.description {
			p {
				margin-top: 0;
				margin-bottom: 0;
				font-size: 100%;
			}
		}
	}
	
	footer {
		margin-top: $margin-america;
	}
	
	.cover {
		img {
			width: 100%;
			height: auto;
			margin: $margin-l 0;
		}
	}

	.content {
		h1 {
			margin-top: $margin-xxxl;
			font-size: 150%;
			text-decoration: none;
		}
		
		p {
			font-size: 100%;
			line-height: 150%;
			text-align: justify;
		}
	
		strong {
			font-weight: 800;
		}
		
		em {
			letter-spacing: 0.2em;
		}
		
		sup {
		    position: relative;
		    top: -0.5em;
		    font-size: 75%;
		}
		
		sub {
		    position: relative;
		    top: 0.25em;
		    font-size: 75%;
		}
		
		ul, ol {
			font-size: 100%;
			margin-left: $margin-xxl;
			margin-top: (-$margin-s);
			margin-bottom: $margin-l;
			li {
				padding: $margin-xs;
				padding-left: $margin-xs;
				@media screen and (max-width: $breakpoint) {
					padding: $margin-s 0 $margin-s 0;
				}
			}
			@media screen and (max-width: $breakpoint) {
				margin-left: $margin-xl;
			}
		}
		
		ul {
			list-style: circle;
		}
		
		ol {
		    list-style: decimal; 
		}
		
		dl {
		    dt {
		        font-weight: bold;
		    }
		    dd {
		        margin-top: $margin-xs;
			    margin-bottom: $margin-xs;
		        padding: $margin-xs $margin-s;
		        border-left: 3px solid #9e9e9e;
		    }
		}
		
		img {
			max-width: 100%;
			max-height: 100%;
			margin-left:auto;
			margin-right:auto;
			margin-top: $margin-xxl;
			margin-bottom: $margin-xxl;
			display: block;
		}
		
		mark {
		    background: $color-highlight;
		}
	
		code {
			font-size: 90%;
			background: $color-code-background;
		}
		
		blockquote {
			padding-left: $margin-l;
			border-left: 3px solid #9e9e9e;
		}
		
		u {
		    text-decoration: underline;
		}

		table {
			margin-bottom: $margin-l;
			width: 100%;
			text-align: left;
			color: lighten($color-dark-grey, 5%);
			border-collapse: collapse;
			border: 1px solid $color-light-grey;
			
			tr {
				&:nth-child(even) {
				 	background-color: lighten($color-light-grey, 35%);
				}
			}
			th, td {
				padding: ($margin-l / 3) ($margin-l / 2);
			}
			th {
				background-color: lighten($color-light-grey, 15%);
				border: 1px solid darken($color-light-grey, 20%);
				border-bottom-color: darken($color-light-grey, 25%);
			}
			td {
				border: 1px solid $color-light-grey;
			}
		}
		
		.highlighter-rouge {	  
	        font-size: 100%;
	        
    		.highlight {
	            pre {
		            margin: $margin-l 0;
		            padding: $margin-s;
		            line-height: 1.5;
		            background: $color-code-background;
		            border-left: 3px solid #9e9e9e;
		            code {
			            color: $color-dark-grey;
			            background: none;
		            }
	            }
	        }
	    }
		
		.codebreak {
			margin: $margin-l 0;
			border: 0;
			border-bottom: 1px dashed $color-light-grey;
		}
		
		.inline-image {
			margin: 0 $margin-l 0 0;
			padding: 0;
			@media screen and (max-width: $breakpoint) {
				margin-left:auto;
				margin-right:auto;
				margin-top: $margin-xxl;
				margin-bottom: $margin-xxl;
			}
		}
	}
	


}
