.screenshots {
		.wrapper {
			padding: 0 $margin-xxl;
			width: calc(100% -(#{ $margin-xxl } * 2));
			max-width: ($page-size*1.2);
			
			@media screen and (max-width: $breakpoint) {
				max-width: calc(100% -(#{ $margin-l } * 2));
				padding: 0 $margin-l;
			}
		}
		
		.flex-child {
			width: calc(100% * (1/3) - (#{ $margin-l } * 2));
			margin: $margin-l auto $margin-l auto;
			display: block;
			
			@media screen and (max-width: $breakpoint) {
				width: calc(100% * (1/2) - (#{ $margin-l } * 2));
				margin: $margin-l auto $margin-l auto;
			}
			
			@media screen and (max-width: $breakpoint-small) {
				width: calc(100% - (#{ $margin-xxl } * 2));
				margin: $margin-xxl auto $margin-xxl auto;
			}
		}
}
