.topbar {
	position: fixed;
	top: 0;
	width: 100%;
	height: $topbar-size;
	background: darken($color-white, 3%);
	z-index: 9;
	
	img {
		float: left;
		height: ($topbar-size/2);
		margin: ($topbar-size/4) ($topbar-size/4) ($topbar-size/4) 0;
	}
	
	span {
		font-weight: bold;
		line-height: $topbar-size;
		font-size: 110%;
	}
	
	a {
		color: $color-dark-grey !important;
		
		&:hover {
			border: 0;
			padding: 0;
		}
	}
}

.main {
	padding-top: $topbar-size;
}

