---
---

@import "reset";
@import "config";
@import "mixins";

body {
	color: $color-dark-grey;
	background: $color-white;
	font-family: 'Inconsolata', monospace;
	line-height: 150%;
	font-weight: 400;
	font-size: 15px;
	letter-spacing: 0.04em;
	overflow:auto;
}


footer {
	margin-bottom: 16px;
	font-size: 75%;
	line-height: 120%;
	overflow: auto;
	
	table tr td {
		padding-right: 4px;
	}

	.icon {
		float: left;
		min-width: 16px;
	}
	
	.kopimi img {
		margin: 16px 0 16px 16px;
	}
	
	.kopimi a {
		outline: 0;
		text-decoration: none;
		&:hover {
			border: 0;
			padding: 0;
			margin: 0;
		}
	}
	
	.link {
		margin-top: 0;
		margin-bottom: 8px;
	}
}

h1,h2, h3, h4 {
	margin-top: 16px;
	margin-bottom: 16px;
	color: $color-black;
}

h2, h3, h4 {
	margin-top: 32px;
}

h1 {
	line-height: 100%;
	font-size: 180%;
	text-decoration: underline;
}

h2 {

	font-size: 130%;
}

b {
	font-weight:bold;
}

table {
	margin: 16px 0;
	tr {
		td {
			padding-right: 32px;
			@media screen and (max-width: $breakpoint) {
				display: flex-item;
				flex: 0 1 auto;
				width: auto;
			}
		}
		@media screen and (max-width: $breakpoint) {
			display: flex;
			flex-direction: column;
			flex-wrap: wrap;
		}
	}
}

p {
	margin-top: 16px;
	margin-bottom: 16px;
}

a {
  color: $color-link;
  text-decoration: none;
  &:visited {
	color: $color-link;
	text-decoration: none;
  }
  &:hover {
	color: $color-link-hover;
	text-decoration: none;
	padding-bottom: 1px;
	border-bottom: 1px solid $color-link-hover;
  }
  &:active {
	color: $color-link;
	text-decoration: none;
  }
}

ul {
	list-style: none;
	li {
		padding: 4px;
		padding-left: 8px;
		@media screen and (max-width: $breakpoint) {
			padding: 8px 0 18px 0;
		}
	}
}

hr {
	margin: 16px 0;
	border: 0;
	border-bottom: 1px dashed $color-light-grey;
}

#cookie_warning {
	border: 1px solid $color-warning;
	padding: 8px 16px;
	margin-bottom: 16px;
	font-size: 75%;

	.cookie_message {
		float: left;
		width: 95%;
		text-align: left;
	}

	.cookie_close {
		color: $color-warning;
		float: right;
		width: 5%;
		text-align: right;
	}
}

.left {
	float: left !important;
	
	@media only screen and (max-width: $breakpoint) {
		float: none !important;
	}
}

.right {
	float: right !important;
	
	@media only screen and (max-width: $breakpoint) {
		float: none !important;
	}
}

.collapsed {
	display: none !important;
}

.clear {
	clear: both !important;
}

.cover {
	width: 100%;
	height: auto;
	margin: 16px 0;
}

.grey {
	color: $color-light-grey;
}

.no-wrap {
	white-space: nowrap;
}

@keyframes Static {
	0% { background-position: 0px 0px; }
	100% { background-position: 0px 32px; }
}

.wrapper {
   	max-width: 600px;
	width: auto;
	padding: 16px 32px;
	margin-left: auto;
	margin-right: auto;
	@media screen and (max-width: $breakpoint) {
		max-width: 100%;
		padding: 16px 24px;
		margin-left: 16px;
	}
}

.logo {
	text-align: center;

	img {
		width: auto;
		height: auto;
		max-width: 100%;
		display: inline;
	}
	
	a {
		text-decoration: none;
		border: none;
	}
	
	#logo-on-hover {
		display: none;
	}   
	
	&:hover img[id="logo"] {
		display: none;
	}
	
	&:hover img[id="logo-on-hover"] {
		display: inline !important;
	}
}

.header, .javascript {
	table {
		tr {
			td:last-child {
				padding-right: 0;
			}
			td:first-child {
				font-weight: bold;
			}
		}
	}
	td.social {
		::after {
			content: ",";
		}
		:last-child::after {
			content: "";
		}
	}
	
	h1 {
		font-size: 250%;
		text-align: center;
		margin-bottom: 64px;
		margin-top: 0px;
	}
	
	h1 > a {
		color: $color-dark-grey;
		text-decoration: underline;
		&:visited {
			color: $color-dark-grey;
			text-decoration: underline;
		}
		&:hover {
			color: $color-link;
			text-decoration: underline;
			padding-bottom: 0px;
			border-bottom: 0px;
		}
		&:active {
			color: $color-dark-grey;
			text-decoration: underline;
		}
	}
}

.pgp-key {
	blockquote {
		font-size: 75%;
		margin: 0 0 0 4px;
		padding-left: 16px;
		border-left: 3px solid #9e9e9e;
	}
	@media screen and (max-width: $breakpoint) {
		blockquote {
			font-size: 50%;
			line-height: 100%;
		}
	}
}

.section {
	clear: both;
	padding: 0px;
	margin: 0px;
	.h1, .h2, h3 {
		margin-top: 0px;
	}
	p {
		margin-top: 8px;
		margin-bottom: 8px;
	}
}

.col {
	display: block;
	float:left;
	margin: 1% 0 1% 5%;

	@media only screen and (max-width: $breakpoint) {
		margin: 1% 0 1% 0%;
	}
}

.col:first-child { margin-left: 0; }

.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }

.span_2_of_2 {
	width: 100%;

	@media only screen and (max-width: $breakpoint) {
		width: 100%;
	}
}

.span_1_of_2 {
	width: 47.5%;

	@media only screen and (max-width: $breakpoint) {
		width: 100%;
	}
}

.span_1_smaller_of_2 {
	width: 32px;

	img {
		max-width: 32px;
	}

	@media only screen and (max-width: $breakpoint) {
		width: 100%;
	}
}

.span_1_bigger_of_2 {
	width: 235px;

	@media only screen and (max-width: $breakpoint) {
		width: 100%;
	}
}

.span_2_bigger_of_2 {
	width: 475px;

	@media only screen and (max-width: $breakpoint) {
		width: 100%;
	}
}

.blog {
	h1 {
		font-size: 140%;
	}
	
	.more {
		font-size: 75%;
	}
}

.isso-comment > div.text-wrapper > .isso-comment-footer a:hover {
	padding-bottom: 0;
	border-bottom: none;
}

.attribution {
	font-size: 75%;
	line-height: 120%;
}

.footnote {
	margin-top: 32px;
}

.projects-list {
	@media (min-width: $breakpoint-small) {
		margin: 24px -6px -12px -6px;
		
		@include clearfix;

		li {
			float: left;
			width: 50%;
		}

		a {
			padding: 0 6px;
		}
	}

	@media (min-width: $breakpoint-medium) {
		li {
			width: 33.33333%;
		}
	}
	
	ul {
		padding: 0;
	}
	
	li {
		margin-bottom: 12px;
		padding: 0;

		&:last-child {
			margin-bottom: 0;
		}
	}

	a {
		display: block;

		&:hover {
			.img-wrapper {
				&:before {
					opacity: 1;
				}
				&:after {
					opacity: .45;
				}
			}
			border: 0;
			
		}
	}

	.img-wrapper {
		position: relative;

		&:before {
			content: "View Project";
			color: $color-white;		
			font-weight: 400;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			font-size: 85%;
			opacity: 0;
			-webkit-transition: all .5s ease-in-out;
    		transition: all .5s ease-in-out;
    		-webkit-transition-delay: .25s;
    		transition-delay: .25s;
    		z-index: 2;
		}

		&:after {
			background: #000;
			content: "";
			display: block;
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			opacity: 0;
			margin-bottom: 6px;
			-webkit-transition: all .5s ease-in-out;
    		transition: all .5s ease-in-out;
    		z-index: 1;
		}
	}

	img {
		width: 100%;
	}

	span {
		margin: 12px 0 8px;
		font-size: 80%;
	}
	
	h3 {
		font-weight: 600;
		font-size: 110%;
		margin: 0 0 8px;
	}
}

.post {
	&__back {
		a {

		}
	}
	&__title {
		h1 {
			display: inline-block;
			font-size: 160%;
			font-weight: 700;
			padding-bottom: 2px;
			text-decoration: none;
			border-bottom: 3px solid $color-dark-grey;
		}
	}
	&__date {
		p {
			margin-top: 0;
			margin-bottom: 0;
			font-size: 100%;
		}
	}
	&__description {
		p {
			margin-top: 0;
			margin-bottom: 0;
			font-size: 100%;
		}
	}
	&__meta {
		p {

		}
	}
	
	&__footer {
		margin-top: 64px;
	}
	
	&__content {
		padding-top: 8px;
		h1 {
			color:$color-black;
			font-size: 140%;
			margin-top: 32px;
			margin-bottom: 16px;
			padding: 0px;
		}
		h2 {
			color: $color-black;
			font-size: 110%;
			margin-top: 32px;
			margin-bottom: 16px;
			padding: 0px;
		}
		p {
			font-size: 1em;
			line-height: 150%;
			margin-bottom: 16px;
			text-align: justify;
		}
		a {
			padding-bottom: 1px;
			border-bottom: 1px solid $color-link;
			&:hover {
				background-color: $color-light-grey;
				text-decoration: none;
			}
		}
		strong {
			font-weight: 700;
		}
		em {
			font-style: italic;
		}
		ul, ol {
			font-size: 100%;
			margin-left: 32px;
			margin-top: -8px;
			margin-bottom: 16px;
			li {
				padding: 4px;
				padding-left: 4px;
				@media screen and (max-width: $breakpoint) {
					padding: 8px 0 8px 0;
				}
			}
			@media screen and (max-width: $breakpoint) {
				margin-left: 24px;
			}
		}
		ul {
			list-style: circle;
		}
		img {
			max-width: 100%;
			max-height: 100%;
			margin-left:auto;
			margin-right:auto;
			margin-top: 32px;
			margin-bottom: 32px;
			display: block;
		}
		
		.book-cover {
			margin: 0 16px 0 0;
			padding: 0;
			@media screen and (max-width: $breakpoint) {
				margin-left:auto;
				margin-right:auto;
				margin-top: 32px;
				margin-bottom: 32px;
			}
		}
		
		
		
		code {
			font-size: 90%;
			background: $color-code-background;
		}
		blockquote {
			padding-left: 16px;
			border-left: 3px solid #9e9e9e;
		}
		div.highlight {
			margin: 16px 0;
			padding: 8px;
			line-height: 1.5;
			background: $color-code-background;
			border-left: 3px solid #9e9e9e;
			code {
				color: $color-dark-grey;
				background: none;
			}
		}
		.codebreak {
			margin: 16px 0;
			border: 0;
			border-bottom: 1px dashed $color-light-grey;
		}
	}
}
