---
layout: core
---

<article class="post">
	<header>
		<div class="wrapper">
			<nav>
				<a href="/">&lt;-- home</a>
			</nav>
			<div class="title">
				<h1>{{ page.title }}</h1>
			</div>
			<div class="description">
				<p>{{ page.description }}</p>
			</div>
		</div>
	</header>
	{% if page.cover %}
	<section class="cover">
		<img src="{{page.cover}}">
	</section>
	{% endif %}
	<section class="content">
		<div class="wrapper">

<!-- START OF POST CONTENT -->

{{ content }}

<!-- END OF POST CONTENT -->

		</div>
	</section>
	
	<footer>
		<div class="wrapper">
			<hr class="codebreak">

<!-- START OF ATTRIBUTIONS -->
		
{% include attribution.html %}

<!-- END OF ATTRIBUTIONS -->

		</div>
	</footer>
</article>
