---
layout: default
---

<!-- START OF PROPER CONTENT -->

{{ content }}

<!-- END OF AFTER PROPER CONTENT -->

<hr class="codebreak">

<!-- START OF COOKIE WARNING -->
<div id="cookie_warning" class="collapsed thin">
    <div class="cookie_message">
        This website uses cookies. Read more in <a href="/privacy">[Privacy Policy]</a> and <a href="/privacy/cookies">[Cookie Policy]</a>
    </div>
    <div class="cookie_close" id="warning_close">
        &#10006;
    </div>
    <div class="clear"></div>
</div>
<!-- END OF COOKIE WARNING -->

<!-- START OF FOOTER -->
<footer>
    <p><div class="icon">&#x1F4DD;</div> <a href="/privacy/javascript" rel="jslicense">[JavaScript code license information]</a></p>
    <p><div class="icon">&#x1F512;</div> <a href="/privacy">[Privacy Policy]</a></p>
    <p><div class="icon">&#x1f36a;</div> <a href="/privacy/cookies">[Cookie Policy]</a></p>
</footer>

<!-- END OF FOOTER -->
